@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Chakra+Petch:wght@400;700&display=swap");

:root {
  --cor-de-fundo: #1e1e1e;
  --verde: #db480f;
  --branco: #189ec7;
  --botao-ativo: #3a375e;
  --botao-inativo: rgba(58, 55, 94, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 20px;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: left;
  width: 100%;
  font-size: 32px;
  margin-bottom: 20px;
}

.titulo-principal span {
  color: var(--verde);
}

.botoes {
  display: block;
  width: 100%;
}

.botao {
  font-family: "Chakra Petch", sans-serif; 
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: none;
  border-bottom: 4px solid var(--botao-ativo);
  transition: 0.3s;
}

.botao:first-child {
  border-radius: 20px 20px 0 0;
}

.botao.ativo {
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
}

/* Estilização para Desktop */
@media screen and (min-width: 768px) {
  .botoes {
    display: flex;
  }

  .botao:first-child {
    border-radius: 20px 0 0 0;
  }

  .botao:last-child {
    border-radius: 0 20px 0 0;
  }
}

.abas-textos {
  background-color: var(--texto-fundo);
  width: 100%;
  padding: 40px;
  border-radius: 0 0 20px 20px;
}

.aba-conteudo {
  display: none;
}

.aba-conteudo.ativo {
  display: block;
}

.aba-conteudo-titulo-principal {
  font-size: 28px;
  text-align: center;
  margin-top: 0;
}

/* --- ALTERAÇÕES DO CONTADOR --- */

.aba-conteudo-titulo-secundario {
  text-align: center;
  color: var(--verde);
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 20px; /* Tamanho da frase "Tempo restante" */
}

.contador-digitos {
  display: block;        /* Garante que o horário fique em baixo */
  font-size: 45px;       /* Tamanho bem grande para o tempo */
  color: var(--branco);  /* Cor azulada do seu tema */
  margin-top: 15px;      /* Espaço entre a frase e os números */
  text-transform: none;  /* Remove o caixa alta apenas dos números */
  font-weight: bold;
}

/* Responsividade para telas menores não quebrarem o texto grande */
@media screen and (max-width: 480px) {
  .contador-digitos {
    font-size: 24px;
  }
}