@import url("https://googleapis.com");

:root {
  --cor-de-fundo: #1e1e1e;
  --verde: #db480f; 
  --branco: #189ec7; 
  --botao-ativo: #3a375e;
  --botao-inativo: rgba(58, 55, 94, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 20px;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: left;
  width: 100%;
  font-size: 32px;
  margin-bottom: 20px;
}

.titulo-principal span {
  color: var(--verde);
}

.botoes {
  display: block;
  width: 100%;
}

.botao {
  font-family: "Chakra Petch", sans-serif; 
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: none;
  border-bottom: 4px solid var(--botao-ativo);
  transition: 0.3s;
}

.botao:first-child {
  border-radius: 20px 20px 0 0;
}

.botao.ativo {
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
}

@media screen and (min-width: 768px) {
  .botoes {
    display: flex;
  }
  .botao:first-child {
    border-radius: 20px 0 0 0;
  }
  .botao:last-child {
    border-radius: 0 20px 0 0;
  }
}

.abas-textos {
  background-color: var(--texto-fundo);
  width: 100%;
  padding: 40px;
  border-radius: 0 0 20px 20px;
}

.aba-conteudo {
  display: none;
}

.aba-conteudo.ativo {
  display: block;
}

.aba-conteudo-titulo-principal {
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.aba-conteudo-titulo-secundario {
  text-align: center;
  color: var(--verde);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}

.contador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contador-digito {
  padding: 0 16px;
  text-align: center;
  min-width: 100px;
}

.contador-digito-numero {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.contador-digito-texto {
  color: var(--verde);
  font-size: 20px;
  margin: 0;
}

.prazo-encerrado {
  font-size: 28px;
  text-align: center;
  color: var(--verde);
  width: 100%;
}
